/**
* Amy van der Gun
* 10791760
*/

.navbar {
    font: 12px sans-serif !important;
}

.navbar .navbar-form .form-control {
    font: 12px sans-serif !important;
}

.form-control:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.btn:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

h1 {
    margin-top: 85px !important;
    font: 20px sans-serif !important;
    text-align: center;
}

body {
    font: 12px sans-serif !important;
    text-align: center;
}

.axis line, .axis path {
    fill: none;
    /* stroke: #000; */
    shape-rendering: crispEdges;
}

.axis text {
    font: 10px sans-serif;
    color: black;
}

.dot {
  stroke: #000;
}

.d3-tip {
    line-height: 1.5;
    padding: 8px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px !important;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}
