/**
* Amy van der Gun
* 10791760
*/

text.label {
  font-size: 14px;
  text-align: center;
}

g.text, g.tick {
  font-size: 14px;
  text-align: center;
}


.axis line, .axis path {
    fill: none;
    shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.d3-tip {
    line-height: 1.5;
    padding: 8px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    font-size: 14px;
    pointer-events: none !important;

}

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 14px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

path.line1 {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

/* path.line2 {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

path.line3 {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
} */

path.candle {
    stroke: #000000;
}

path.candle.body {
    stroke-width: 0;
}

path.candle.up {
    fill: #00AA00;
    stroke: #00AA00;
}

path.candle.down {
    fill: #FF0000;
    stroke: #FF0000;
}
